html {
	---background: #f2efec;
    ---background-accent: #dbcfc3;
	---text: #273135;
	---primary: #825335;
	---secondary: #d6b19a;
	---accent: #905c3c;
    ---accent-glass: rgba(144, 92, 60, 0.7);
    ---delete: #d6443a;
    ---red: red;
    ---greem: green;
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: var(---background);
    margin: 0;
    height: 100%;
}

* {
    touch-action: manipulation;
}

html {
    font-size: 16px;
}